{% extends 'zone/base.html' %}

{% block content %}
<br><h1><b>Phantom Books</b></h1>
<h5>The Bibliophiles empire...</h5>
<br> <br>
<div class="row">
        {% for book in books %}
        <div class="col">
            <div class="card" style="width: 18rem;">
              <img src="{{ book.image.url }}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ book.name }}</h5>
                <p class="card-text">${{ book.price }}</p>
                  <a href="{% url 'zone:detail' book.pk %}" class="btn btn-success">View</a>
              </div>
            </div>
        </div>
        {% endfor %}
{% endblock content %}